<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
	<title>TV listings</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	
    <!-- [ STYLESHEETS ] -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="css/style.css" media="all" rel="stylesheet" type="text/css">

<body>
    <div class="col-lg-4 padd-del channel">
	<div class="col-lg-12 clearfix">
	    <div class="tv-listings col-lg-6 padd-del" style="width: 290px; height: 423px; border:1px solid #dbdbdb;">
		<div class="channel-nav clearfix">
		    <div class="clearfix">
			<span class="dialog-prev"><a href="{{ path_for('channel_by_date', {'slug': channel.slug }, {'on': specifiedDate.modify('-1 day').format('Y-m-d')}) }}" class="ch-prev pull-left"><i class="fa fa-angle-left"></i></a></span>
			<span class="dialog-next"><a href="{{ path_for('channel_by_date', {'slug': channel.slug }, {'on': specifiedDate.modify('+1 day').format('Y-m-d')}) }}" class="ch-next pull-right"><i class="fa fa-angle-right"></i></a></span>
		    <span class="swiper-slide ">
			<span class="angle"></span>
			<a class="live-item " data-id="1" href="/1/watch"><img src="/logos/{{ channel.logoPath }}" alt="{{ channel.name }}"></a>
		    </span>
			<span class="dialog-date channel-date"> {{ dayOfWeek(specifiedDate) }} / {{ specifiedDate|date('Y-m-d') }}</span>
		    </div>
		</div>
		<div class="col-lg-12 padd-del" style="height: 348px; overflow-y: scroll;" id="program-list">
		    <ul class="list-unstyled clearfix channel-list channel-inner schedule-live">
                        {% for listing in listings %}
                            <li class="past">
                                <span class="channel-time label label-default">{{ listing.programmedTime }}</span>
                                {% if listing.resourceLink %}
                                    <a href="#" onclick="window.open('{{ path_for('listing_detail', {'id': listing.id}) }}','','width=1300,height=610'); return false;" target="popup">
                                        {{ listing.title }}
                                    </a>
                                {% else %}
                                    <a href="#">{{ listing.title }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
		    </ul>
		</div>
	    </div>
	</div>
    </div>
</body>
</html>
